<div class="row mt-5 mb-4">
    <h3 class="pl-2">Nombre investigador</h3>
    <div class="ml-auto ">
        <a class="btn btn-primary text-light" routerLink="/solicitudComision">Solicitar nueva comisión</a>
    </div>
</div>


<div class="row">
    <table class="table table-hover table-responsive w-100 d-block d-md-table">
        <thead class="thead-dark">
            <tr>
                <th>Destino</th>
                <th>F. inicio</th>
                <th>F. fin</th>
                <th>Sustituto</th>
                <th>Razón</th>
                <th>Coste</th>
                <th>Proyecto</th>
                <th>Estado</th>
                <th>&nbsp;</th>
            </tr>
        </thead>  
    
    <tr>
        <td colspan=100% *ngIf="comisiones.length==0">No existe ninguna solicitud</td>
    </tr>
        
    <tr *ngFor="let comision of comisiones">
        <td>{{comision.destino}}</td>
        <td>{{comision.fechaInicio |  date:'dd/MM/yyyy'}}</td>
        <td>{{comision.fechaFin |  date:'dd/MM/yyyy'}}</td>
        <td>{{comision.sustitutoID}}</td>
        <td>{{comision.razon}}</td>
        <td>{{comision.coste}}</td>
        <td>{{comision.proyectoID}}</td>
        <td>{{comision.estado}}</td>
        <td *ngIf="comision.estado=='SUBSANACION' ">
            <button class="btn" routerLink="/solicitudComision" [queryParams]="{ comisionID: comision._id }">Editar</button></td>
    </tr>   
    </table>
</div>
    
      