<a class="btn btn-primary" routerLink="/addComision">Solicitar nueva comisión</a>


<!-- <div class="form-group row my-2">
    <label class="col-sm-3 col-form-label">Filtrar por estado:</label>
    <div class="col-sm-6">
    <select class="form-control " [(ngModel)]="selectedEstado">
            <option value="TODAS" selected>TODAS</option>
            <option *ngFor="let estado of estados" [ngValue]="estado">{{estado}}</option>
    </select>
    </div>
    </div> -->
    
    <table class="table table-responsive">
        <thead class="thead-dark">
            <tr>
                <th>Destino</th>
                <th>F. inicio</th>
                <th>F. fin</th>
                <th>Sustituto</th>
                <th>Razón</th>
                <th>Coste</th>
                <th>Proyecto</th>
                <th>Estado</th>
                <th>&nbsp;</th>
            </tr>
        </thead>  
    
        
    <tr *ngFor="let comision of comisiones | estadoFilter:selectedEstado">
        <td>{{comision.destino}}</td>
        <td>{{comision.fechaInicio}}</td>
        <td>{{comision.fechaFin}}</td>
        <td>{{comision.sustitutoID}}</td>
        <td>{{comision.razon}}</td>
        <td>{{comision.coste}}</td>
        <td>{{comision.proyectoID}}</td>
        <td>{{comision.estado}}</td>
        
    </tr>   
      