<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script><script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Incluirlo en el HEAD ---------->

<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>Our Team</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="../../assets/team/mcg.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="https://www.linkedin.com/in/manuelcarranzagarcia96/">Manuel Carranza</a></h3>
            <p>Máster en Ingeniería del Software, Universidad de Sevilla</p>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="../../assets/team/jgg.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="in.com/in/jose-gallardo-gallardo/">José Gallardo</a></h3>
            <p>Máster en Ingeniería del Software, Universidad de Sevilla</p>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="../../assets/team/plb.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="https://www.linkedin.com/in/pedrolarben/">Pedro Lara</a></h3>
            <p>Máster en Ingeniería del Software, Universidad de Sevilla</p>
          </div>
       </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="../../assets/team/meg.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="https://www.linkedin.com/in/miguelestebangomez/">Miguel Esteban</a></h3>
            <p>Máster en Ingeniería del Software, Universidad de Sevilla</p>
          </div>
      </li>
    </ul>
  </div>
</section>
  <section class="our-webcoderskull padding-lg">
    <div class="container">
      <div class="row heading heading-icon">
          
          <h2>API Development</h2>
      </div>
      <ul class="row">
        <li class="col-12">
            <div class="cnt-block equal-hight">
                <figure><a href="https://documenter.getpostman.com/view/1788279/RznBPLvL"><img src="https://cdn-images-1.medium.com/max/1200/1*fVBL9mtLJmHIH6YpU7WvHQ.png" class="img-responsive" alt=""></a></figure>
              <h3>API Documentation</h3>
              <h4><a href="https://documenter.getpostman.com/view/1788279/RznBPLvL">See it on Postman</a></h4>
            </div>
        </li>
      </ul>
    </div>
  </section>