<td>{{comision.investigadorID}}</td>
<td>{{comision.destino}}</td>
<td>{{comision.fechaInicio |  date:'dd/MM/yyyy'}}</td>
<td>{{comision.fechaFin |  date:'dd/MM/yyyy'}}</td>
<td>{{comision.sustitutoID}}</td>
<td>{{comision.razon}}</td>
<td>{{comision.coste}}</td>
<td>{{comision.proyectoID}}</td>
<td *ngIf="!editable">{{comision.estado}}</td>
<td *ngIf="editable">
    <select class="form-control" [(ngModel)]="updatedEstado">
        <option *ngFor="let estado of estados" [ngValue]="estado">{{estado}}</option>
    </select>   
</td>

<!-- <td *ngIf="!editable">{{comision.investigadorID}}</td>
<td *ngIf="!editable">{{comision.destino}}</td>
<td *ngIf="!editable">{{comision.fechaInicio}}</td>
<td *ngIf="!editable">{{comision.fechaFin}}</td>
<td *ngIf="!editable">{{comision.sustitutoID}}</td>
<td *ngIf="!editable">{{comision.razon}}</td>
<td *ngIf="!editable">{{comision.coste}}</td>
<td *ngIf="!editable">{{comision.proyectoID}}</td>
<td *ngIf="!editable">{{comision.estado}}</td>


<td *ngIf="editable"><input class="form-control" [(ngModel)]="comision.investigadorID"/></td>
<td *ngIf="editable"><input class="form-control" [(ngModel)]="comision.destino"/></td>
<td *ngIf="editable"><input class="form-control" [(ngModel)]="comision.fechaInicio"/></td>
<td *ngIf="editable"><input class="form-control" [(ngModel)]="comision.fechaFin"/></td>
<td *ngIf="editable"><input class="form-control" [(ngModel)]="comision.sustitutoID"/></td>
<td *ngIf="editable"><input class="form-control" [(ngModel)]="comision.razon"/></td>
<td *ngIf="editable"><input class="form-control" [(ngModel)]="comision.coste"/></td>
<td *ngIf="editable"><input class="form-control" [(ngModel)]="comision.proyectoID"/></td>
<td *ngIf="editable"><input class="form-control" [(ngModel)]="comision.estado"/></td> -->




<td *ngIf="comision.estado=='SOLICITADA' || comision.estado=='SUBSANACION' ">
    <button class="btn" (click)="onEdit()">{{editable ? 'Guardar': 'Editar'}}</button></td>
<td>
    <button type="button" class="btn btn-outline-danger" (click)="onDelete()">Eliminar</button>
</td>